/* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */

.bgnew {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.splash-content header {
    color: #fff;
    font-weight: 900;
    font-size: 2.925em;
    margin-bottom: 3%;
    text-shadow: 2px 3px 0px #898999;
}

section > div.row {
  margin-left: 0px;
  margin-right: 0px;
}

section h3 {
  margin-top: 0px;
}

.container {
  padding: 0;
  margin: 0;
}

#state {
  align-self: center;
  justify-self: center;
  color: #aaa;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

#state > div {
  flex: 0 0 auto;
  align-self: center;
  justify-self: center;
  height: 60px;
}

#state > div img {
  margin-right: 14px;
  position: relative;
  top: -4px;
}

.item_green {
  background: #8bc34a;/*#9BCA3E;*/
}

.item_orange {
  background: #ff9800;/*#FFB92A;*/
}

.item_red {
  background: #F44336;/*#D81A1A;*/
}

.item_blue {
  background: #4A8BC3;/*#D81A1A;*/
}

.item_gray {
  background: #E6E6E6;
}

.item_empty {
  background: #FEFEFE;
  border: 1px dashed #E6E6E6;
}

.navbar-fixed-top {
  top: -200px;
}

.amcharts-amexport-item > a,
.amcharts-amexport-item > a:hover,
.amcharts-amexport-item > a:active {
    color: #000;
}

ul.amcharts-amexport-menu {
    display: flex;
}

li.amcharts-amexport-item.amcharts-amexport-item-level-0 {
    width: 120px;
    padding: 0.4em;
}

li.amcharts-amexport-item.amcharts-amexport-item-level-0 > img { 
    width: 100%; height: auto; 
}

/* .amcharts-amexport-top .amcharts-amexport-item > .amcharts-amexport-menu {
    top: -3px!important;
    left: 2px!important;
} */