{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<!-- Resources -->
<script src="static/amcharts4/core.js"></script>
<script src="static/amcharts4/charts.js"></script>
<script src="static/amcharts4/themes/animated.js"></script>
    
<!-- Chart code -->
<script type="text/javascript">
    jQuery.fn.exists = function(){ return this.length > 0; }

    const WEEK_SIZE = 60,
        COLOURS = {"GREEN" : "#8bc34a", "ORANGE": "#ff9800", "RED": "#F44336", "GRAY": "#E6E6E6", "BLUE": "#4A8BC3"},
        chartdiv = "chartdiv";

    let getColor = c => COLOURS[c],
        chart_div = $(`#${chartdiv}`),
        error_count = 0,
        site_info = null,
        week_data = null,
        chart = null,
        error_container = null,
        indicator = null,
        indicatorInterval;

    function fillWeek(line, no_students, {TERM = "", WEEK = cnt, c = 0, end_date = "", start_date = "", val = ""}) {
        switch(val) {
            case "GREEN": 
                line['g-per'] = parseInt(c, 10) / no_students * 100;
                line['g-val'] = parseInt(c, 10);
                break;
            case "ORANGE": 
                line['o-per'] = parseInt(c, 10) / no_students * 100;
                line['o-val'] = parseInt(c, 10);
                break;
        }
        return line;
    }

    function getEmptyWeek(cnt = 1, no_students = 0, use_no_data = false, {TERM = "", WEEK = cnt, c = 0, end_date = "", start_date = "", val = ""}) {
        // console.log(`${use_no_data} ${TERM} ${WEEK} ${c} ${end_date} ${start_date} ${val}`);

        let line = {
                    "category": "Week " + (cnt > 0 ? cnt : WEEK),
                    "s": start_date,
                    "e": end_date,
                    "no": cnt,
                    "g-per": 0,
                    "g-val": 0,
                    "o-per": 0,
                    "o-val": 0,
                    "r-val": 0,
                    "r-per": 0,
                    "x-per": 0,
                    "x-val": 0,
                    "z-per": 0,
                    "z-val": 0
                };
        switch(val) {
            case "GREEN": 
                line['g-per'] = parseInt(c, 10) / no_students * 100;
                line['g-val'] = parseInt(c, 10);
                break;
            case "ORANGE": 
                line['o-per'] = parseInt(c, 10) / no_students * 100;
                line['o-val'] = parseInt(c, 10);
                break;
        }
        if (use_no_data) {
            line['z-per'] = 100;
            line['z-val'] = no_students;
        }
            
        return line;
    }

    function showIndicator() {
        
        if (!indicator) {
            indicator = chart.tooltipContainer.createChild(am4core.Container);
            indicator.background.fill = am4core.color("#fff");
            indicator.background.fillOpacity = 0.8;
            indicator.width = am4core.percent(100);
            indicator.height = am4core.percent(100);

            var indicatorLabel = indicator.createChild(am4core.Label);
            indicatorLabel.text = "Loading week information ...";
            indicatorLabel.align = "center";
            indicatorLabel.valign = "middle";
            indicatorLabel.fontSize = 20;
            indicatorLabel.dy = 50;
            
            var hourglass = indicator.createChild(am4core.Image);
            hourglass.href = "static/hourglass.svg";
            hourglass.align = "center";
            hourglass.valign = "middle";
            hourglass.horizontalCenter = "middle";
            hourglass.verticalCenter = "middle";
            hourglass.scale = 0.7;
        }
        
        indicator.hide(0);
        indicator.show();
        
        clearInterval(indicatorInterval);
        indicatorInterval = setInterval(function() {
            hourglass.animate([{
            from: 0,
            to: 360,
            property: "rotation"
            }], 2000);
        }, 3000);
    }

    function hideIndicator() {
        indicator.hide();
        clearInterval(indicatorInterval);
    }

    function showErrorButton() {

        if (!error_container) {        
            error_container = chart.tooltipContainer.createChild(am4core.Container);
            error_container.background.fill = am4core.color("#fff");
            error_container.background.fillOpacity = 0.8;
            error_container.width = am4core.percent(100);
            error_container.height = am4core.percent(100);

            let btn_error = error_container.createChild(am4core.Button);
            btn_error.label.text = '[bold]The course information is empty[/]\n(click to retry)';
            
            btn_error.padding(14, 14, 14, 14);
            btn_error.background.cornerRadius(4, 4, 4, 4);
            btn_error.background.fill = am4core.color("#25283D");
            btn_error.label.fill = am4core.color("#FFFFFF");
            btn_error.label.fontSize = '14px';

            btn_error.contentAlign = "center"
            btn_error.align = "center";
            btn_error.valign = "middle";
            btn_error.dy = 70;
            btn_error.events.on("hit", function() {
                console.log("retry");
                if (chart.dataSource) {
                    chart.dataSource.load();
                }
            });

            btn_error.icon = new am4core.Image();
            btn_error.icon.href = "static/error.svg";
            btn_error.icon.marginRight = 15;
            btn_error.icon.scale = 0.6;

            btn_error.background.states.getKey("hover").properties.fill = am4core.color("#606271");
        }
        
        error_container.hide(0);
        error_container.show();
    }

    function drawGraph(site_title, no_students, start_week, end_week, current_no_weeks, term) {

        chart_div.css("height", `${(current_no_weeks * WEEK_SIZE < 500 ? 500 : current_no_weeks * WEEK_SIZE)}px`);

        // Create chart instance
        chart = am4core.create(chartdiv, am4charts.XYChart);

        // Title
        var title = chart.titles.push(new am4core.Label());
        title.text = `Student Analytics:  ${site_title} [font-size: 16px](${no_students} students)[/]`;
        title.fontSize = 25;
        title.marginBottom = 15;
        title.align = "left";

        var label = chart.chartContainer.createChild(am4core.Label);
        label.text = `Last Updated: ${moment(new Date()).calendar()}`;
        label.align = "right";
        label.fill = am4core.color("#888888");
        label.fontSize = '14px';

        chart.exporting.filePrefix = site_title.replace(/[/\\?%*:|"<>]/g, '-'); 

        chart.exporting.menu = new am4core.ExportMenu();
        chart.exporting.menu.align = "right";
        chart.exporting.menu.verticalAlign = "top";
        chart.exporting.menu.items = [
            {
                "icon": "static/download.svg",
                "menu": [
                    {
                        "label": "CSV",
                        "type": "custom",
                        "options": {
                            "callback": function() {
                                window.open("{{ $downloadURL }}", "_blank");
                            }
                        }
                    },
                    {
                        "label": "Image",
                        "menu": [
                            { "type": "png", "label": "PNG" },
                            { "type": "jpg", "label": "JPG" },
                            { "type": "svg", "label": "SVG" },
                            { "type": "pdf", "label": "PDF" }
                        ]
                    },  {
                        "label": "Print", "type": "print"
                    }
                ]
            }
        ];

        var dataSource = chart.dataSource;
        dataSource.parser = new am4core.JSONParser();
        dataSource.parser.options.emptyAs = 0;
        dataSource.url = "{{ $fetchWeekDataUrl }}";
        dataSource.requestOptions.requestHeaders = [
            { key: "start_week", value: start_week },
            { key: "end_week", value: end_week },
            { key: "term", value: term }
        ];
        
        chart.dataSource.events.on("started", function(ev) {
            showIndicator();
        });

        chart.dataSource.events.on("parseended", function(ev) {
            // parsed data is assigned to data source's `data` property
            let raw = ev.target.data,
                data = [];

            week_data = raw;
            if (raw.success == 1) {
                console.log("week data: success");
                $.each(raw.result, function(i, el) {
                    console.log(el)
                    if (!data[parseInt(el.WEEK)]) {
                        data[parseInt(el.WEEK)] = getEmptyWeek(el.WEEK, raw.no_students, false, el);
                    } else {
                        fillWeek(data[parseInt(el.WEEK)], raw.no_students, el);
                    }
                });

                data = data.filter(x => x).map(function(el){

                    if (moment(el.s,"YYYY-MM-DD").add(3, 'days').diff(new Date(), 'days') > 0) {
                        el["z-val"] = raw.no_students - (el["g-val"] + el["o-val"]);
                        el["z-per"] = el["z-val"] / raw.no_students * 100;
                    } else {
                        el["r-val"] = raw.no_students - (el["g-val"] + el["o-val"]);
                        el["r-per"] = el["r-val"] / raw.no_students * 100;
                    }
                    console.log(el); 
                    return el; 
                });

            } else {
                console.log("week data: error");
                // Error loading data
                data = [ getEmptyWeek(raw.course_start_week, raw.no_students, true,"") ];
            }
            console.log(data);
            ev.target.data = data.sort(function(a,b) { return -1; });
        });

        dataSource.events.on("done", function(ev) {
            // Data loaded and parsed
            hideIndicator();
        });

        dataSource.events.on("error", function(ev) {
            showErrorButton();
            chart.data = [];
        });

        // Create axes
        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
        categoryAxis.dataFields.date_start = "s";
        categoryAxis.dataFields.date_end = "e";
        
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.inversed = true;
        categoryAxis.renderer.minGridDistance = 20;
        categoryAxis.renderer.axisFills.template.disabled = false;
        categoryAxis.renderer.axisFills.template.fillOpacity = 0.05; // zebra stripes

        categoryAxis.renderer.labels.template.minWidth = 120;
        categoryAxis.renderer.labels.template.fontSize = '12px';
        categoryAxis.renderer.labels.template.textAlign = 'end';

        categoryAxis.adapter.add("getTooltipText", (text, target) => {
            let data = target._tooltipDataItem;

            if ((data.date_start == "") || (data.date_end == "")) return "";

            let df = new am4core.DateFormatter(),
                sd = df.format(data.date_start,"MMM d"),
                ed = df.format(data.date_end,"MMM d");
            if (df.format(data.date_start,"MMM") == df.format(data.date_end,"MMM")) {
                ed = df.format(data.date_end,"d");
            }
            return `[#000000]${sd}[/] [#999999]-[/] [#000000]${ed}[/]`;
        });

        var axisTooltip = categoryAxis.tooltip;
        axisTooltip.fontSize = '12px';
        axisTooltip.background.fill = am4core.color("#FFFFFF");
        axisTooltip.background.strokeWidth = 0;
        axisTooltip.background.cornerRadius = 0;
        axisTooltip.background.pointerLength = 0;
        axisTooltip.dx = -5;

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.disabled = true;
        chart.cursor.lineY.disabled = true;
        chart.cursor.behavior = "none";

        var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;
        valueAxis.max = 100;
        valueAxis.strictMinMax = true; // *
        valueAxis.calculateTotals = true; // *
        valueAxis.renderer.minGridDistance = 50;
        valueAxis.renderer.ticks.template.length = 5;
        valueAxis.renderer.ticks.template.disabled = false;
        valueAxis.renderer.ticks.template.strokeOpacity = 0.4;
        valueAxis.renderer.labels.template.adapter.add("text", function(text) {
            return text + "%";
        })

        valueAxis.cursorTooltipEnabled = false; // disable tooltip

        // Legend
        chart.legend = new am4charts.Legend();
        chart.legend.position = "top";

        chart.legend.labels.template.minWidth = 250;
        chart.legend.labels.template.truncate = false;
        chart.legend.labels.template.wrap = true;

        // Create series
        function createSeries(field, val, name, tooltip, color, _cls) {
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueX = field;
            series.dataFields.valueCount = val;
            series.dataFields.valueTooltip = tooltip;
            series.dataFields.categoryY = "category";
            series.stacked = true;
            series.name = name;
            series.stroke = color;
            series.fill = color;
            // series.columns.template.tooltipText = `[bold]${tooltip}[/]: 
            //     Students: {valueCount}
            //     {valueX.totalPercent.formatNumber('#.0')}%`;               
            series.columns.template.adapter.add("tooltipText", (text, target) => {
                var data = target.tooltipDataItem.dataContext,
                    _tooltip_color = _cls,
                    partial = `[bold]${tooltip}[/]`;
                    full = `[bold]${tooltip}[/]: 
                            Students: {valueCount}
                            {valueX.totalPercent.formatNumber('#.0')}%`;

                if ((_tooltip_color == "GREEN") && (data['g-val'] > 0)) return full;
                if ((_tooltip_color == "ORANGE") && (data['o-val'] > 0)) return full;
                if ((_tooltip_color == "RED") && (data['r-val'] > 0)) return full;
                if ((_tooltip_color == "BLUE") && (data['x-val'] > 0)) return full;
                if ((_tooltip_color == "GRAY") && (data['z-val'] > 0)) return partial;

                return '';
            });

            series.tooltip.pointerOrientation = "vertical";
            series.columns.template.tooltipY = 0;
            
            // if (_cls != "GRAY") {
                var bullet = series.bullets.push(new am4charts.LabelBullet());
                bullet.interactionsEnabled = false;
                bullet.label.text = "{valueX.totalPercent.formatNumber('#.')}%";
                bullet.label.fill = (_cls == "GRAY" ? am4core.color("#444444") : am4core.color("#ffffff"));
                bullet.label.fontSize = '12px';
                bullet.locationX = 0.5;
                // bullet.label.adapter.add("textOutput", function(text, target) {
                bullet.label.adapter.add("text", function(text, target) {
                    if (target.dataItem) {
                        if (target.dataItem.valueCount == 0) return "";
                    }
                    return text;
                });
            // }

            return series;
        }

        var series_array = [
            {tooltip: "No data yet", category: "No data yet", color: "GRAY", value: "z-val", per: "z-per"},
            {tooltip: "Has not logged in", category: "Has not logged in", color: "RED", value: "r-val", per: "r-per"},
            {tooltip: "Logged in to Vula (Limited)", category: "Logged in to Vula but limited or no activity, and/or accessed Vula only from a smartphone", color: "ORANGE", value: "o-val", per: "o-per"},
            {tooltip: "Active engagement", category: "Active engagement in 2 or more course sites over 2 or more days", color: "GREEN", value: "g-val", per: "g-per"}
            // {tooltip: "Logged in to Vula", category: "Logged in to Vula", color: "BLUE", value: "x-val", per: "x-per"}
        ];

        $.each(series_array, function(i, line) {
            createSeries(line['per'], line['value'], line['category'], line['tooltip'], am4core.color(getColor(line['color'])), line['color']);
        });

        chart.data.sort(function(a,b) { return -1; });

        
    }

    function showState(_state = 0, instant = false, err = false) {
        if (err) {
            console.log(err);
        }
        if (instant) {
            chart_div.html(tmpl('tmpl-state', {state: _state, err: err, c: error_count, svg: 'static/grid.svg'}));
        } else {
            if ($('#state:visible').length) {
                $('#state').fadeOut(350, function() {
                    showState(_state, instant, err);
                });
            } else {
                chart_div.hide().html(tmpl('tmpl-state', {state: _state,  err: err, c: error_count, svg: 'static/grid.svg'})).fadeIn(300);
            }
        }
    }
    
    $(function() {
        
        function init () {
            showState(0, true);
            
            $.get('{{$getInfoURL}}', function(_data) {
                site_info = _data;

                if (_data.success == "1") {
                    drawGraph(_data.title, _data.no_students, _data.start_week, _data.end_week, _data.result.length, _data.term);
                } else {
                    showState(1, false, _data['err']);
                }

            }).fail(function() {
                showState(2);
            });
        };

        init();
    });

    // reload if there is an error - user click action
    chart_div.on("click","#state a.reload", function(event) {
        event.preventDefault();
        error_count ++;
        init();
    });
</script>
